<%= form_for(@game, html: {class: 'form-horizontal'}) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">Away Team</label>
        <div class="col-sm-8">
          <%= f.select(:away_team, options_for_select(@teams), {}, class: 'form-control') %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Away Player</label>
        <div class="col-sm-8">
          <%= f.select(:away_player_id, options_for_select(@players), {}, class: 'form-control') %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Away Player Score</label>
        <div class="col-sm-8">
          <%= f.number_field :away_player_score, class: 'form-control' %>
        </div>
      </div>
      <br/>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">Home Team</label>
        <div class="col-sm-8">
          <%= f.select(:home_team, options_for_select(@teams), {}, class: 'form-control') %>
        </div>
      </div>

      <div class='form-group'>
        <label class="col-sm-4 control-label">Home Player</label>
        <div class="col-sm-8">
          <%= f.select(:home_player_id, options_for_select(@players), {}, class: 'form-control') %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Home Player Score</label>
        <div class="col-sm-8">
          <%= f.number_field :home_player_score, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
