<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='col-md-5'>
    <p class='text-center'>Home Team</p>
    <div class='team-icon'>
      <img src='/habs.jpg' />
    </div>
    <h1 class='text-center'><%= @game.home_team %></h1>
    <h2 class='text-center'><%= @home.name %></h2>
    <h1 class='text-center'><%= @game.home_player_score %></h1>
  </div>
  <div class='col-md-2'>
    <h1 class='text-center' id='vs'>vs.</h1>
  </div>
  <div class='col-md-5'>
    <p class='text-center'>Away Team</p>
    <div class='team-icon'>
      <img src='/habs.jpg' />
    </div>
    <h1 class='text-center'><%= @game.away_team %></h1>
    <h2 class='text-center'><%= @away.name %></h2>
    <h1 class='text-center'><%= @game.away_player_score %></h1>
  </div>
</div>