<div class='jumbotron'>
  <table class='table'>
    <thead>
      <td><b>Name</b></td>
      <td><b>Favourite Team</b></td>
      <td><b>Wins</b></td>
      <td><b>Losses</b></td>
      <td><b>Goals</b></td>
      <td><b>Win %</b></td>
    </thead>
    <% @ranked_players.each do |player| %>
      <tr class="ranked-player-row <%= ranked_list_class(player) %>" id="player-<%= player.id %>">
        <td><%= link_to player.name, player_url(player) %></td>
        <td>
          <% if player.favourite_team.nil? %>
            Player has not won any games
          <% else %>
            <%= player.favourite_team %>
          <% end %>
        </td>
        <td><%= player.games_won %></td>
        <td><%= player.games_lost %></td>
        <td><%= player.goals %></td>
        <td class="win-percent"><%= sprintf "%.3f", player.win_percent %></td>
      </tr>
    <% end %>
  </table>
  <% if players_with_no_wins? %>
    <div class="text-center" id="show-no-wins">
      <a href="#" id="show-no-wins" class="btn">Show Players with No Wins</a>
    </div>
  <% end %>
</div>