<div class='jumbotron'>
  <table class='table'>
    <thead>
      <td><b>Name</b></td>
      <td><b>Best Team</b></td>
      <td><b>Wins</b></td>
      <td><b>Losses</b></td>
      <td><b>Goals</b></td>
      <td><b>Answer Factor</b></td>
      <td><b>Win %</b></td>
    </thead>
    <% @ranked_players.each do |player| %>
      <tr>
        <td><%= link_to player.name, player_url(player) %></td>
        <td>
          <% if player.best_team.nil? %>
            Player has not won any games
          <% else %>
            <%= player.best_team %>
          <% end %>
        </td>
        <td><%= player.games_won.length %></td>
        <td><%= player.games_lost.length %></td>
        <td><%= player.goals %></td>
        <td>
          <% if player.answer_factor.nil? %>
            &infin;
          <% else %>
            <%= player.answer_factor %>
          <% end %>
        </td>
        <td><%= player.win_percent %></td>
      </tr>
    <% end %>
  </table>
</div>