<div class='jumbotron'>
  <table class='table'>
    <thead>
      <td><b>Name</b></td>
      <td><b>Favourite Team</b></td>
      <td><b>Wins</b></td>
      <td><b>Losses</b></td>
      <td><b>Goals For</b></td>
      <td><b>Win %</b></td>
    </thead>
    <% @ranked_players.each do |player| %>
      <tr class="ranked-player-row <%= ranked_list_class(player) %>" id="player-<%= player.id %>">
        <td class="player-link"><%= link_to player.name, player_url(player) %></td>
        <td class="player-favourite-team"><%= favourite_team(player) %></td>
        <td class="player-games-won"><%= player.games_won %></td>
        <td class="player-games-lost"><%= player.games_lost %></td>
        <td class="player-goals-for"><%= player.goals_for %></td>
        <td class="player-win-percent"><%= sprintf "%.3f", player.win_percent %></td>
      </tr>
    <% end %>
  </table>
  <% if players_with_no_wins? %>
    <div class="text-center" id="show-no-wins">
      <a href="#" id="show-no-wins" class="btn">Show Players with No Wins</a>
    </div>
  <% end %>
</div>