<div class='well well-large'>
  <table class='table table-bordered table-hover'>
    <tr>
      <td><h4>Win Percentage</h4></td>
      <td><h4 class='text-right'><%= @player.win_percent %>%</h4></td>
    </tr>
    <tr>
      <td><h4>Wins</h4></td>
      <td><h4 class='text-right'><%= @player.games_won.length %></h4></td>
    </tr>
    <tr>
      <td><h4>Losses</h4></td>
      <td><h4 class='text-right'><%= @player.games_lost.length %></h4></td>
    </tr>
    <tr>
      <td><h4>Goals Scored</h4></td>
      <td><h4 class='text-right'><%= @player.goals %></h4></td>
    </tr>
    <tr>
      <td><h4>Goals Against</h4></td>
      <td><h4 class='text-right'><%= @player.opposition_goals %></h4></td>
    </tr>
  </table>
</div>