<p id="notice"><%= notice %></p>

<h1>Statistics for <%= @player.name %></h1>

<% if !@games.blank? %>
  <%= render 'stats_jumbo' %>
  <%= render 'recent_games' %>
<% else %>
  <%= render 'no_games' %>
<% end %>

<p class='text-center'><%= link_to 'Back', players_path, class: 'btn btn-primary' %></p>
