<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NHLTracker</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="/">NHLTracker</a>
      <% unless Player.all.empty? %>
        <%= link_to 'Add game', new_game_path, class: 'btn btn-primary navbar-btn' %>
      <% end %>
      <%= link_to 'Add player', new_player_path, class: 'btn btn-primary navbar-btn' %>
    </div>
  </nav>
  <div class="container">
    <% if notice %>
      <div class="alert alert-info">
        <%= notice %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
